name: Auto approve and merge PR
on: workflow_dispatch
      
jobs:
  get-pull-requests-from-master:
    runs-on: ubuntu-latest
    steps:
      - name: Auto approve and merge PRs
        uses: actions/github-script@v6
        with:
          script: |
            const { repo, owner } = context.repo;
            const prNumbers = []

            github.rest.pulls.list({
              owner,
              repo,
              base: 'sauravbv-org:main'             
            }).then((response) => {
              console.log(response)
              response.data.forEach((pr) => prNumbers.push(pr.number))
              console.log(prNumbers)
            })

