name: Auto approve and merge PR
on: workflow_dispatch
      
jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Auto approve and merge PRs
        uses: actions/github-script@v6
        with:
          script: |
            const { repo, owner } = context.repo;
            const prIds = []

            github.rest.pulls.list({
              owner,
              repo,
              base: 'main'             
            }).then((response) => console.log(response))

