name: Auto approve PRs
on: pull_request

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    if: github.actor == 'actions/github-script'
    steps:
      - uses: hmarr/auto-approve-action@v3
