name: Auto approve and merge PR
on: workflow_dispatch
      
jobs:
  get-pull-requests-from-master:
    runs-on: ubuntu-latest
    steps:
      - name: Get list of PRs from master
        uses: actions/github-script@v6
        id: prlist
        with:
          script: |
            const { repo, owner } = context.repo;
            let prNumbers = []

            github.rest.pulls.list({
              owner,
              repo,
              head: 'sauravbv-org:main'             
            }).then((response) => {
              response.data.forEach((pr) => prNumbers.push(pr.number))
            });
      
            if(prNumbers.length > 0){
              prNumbers.forEach((prNumber) => {
                github.rest.pulls.submitReview({
                  owner,
                  repo,
                  pull_number: prNumber,
                  event: 'APPROVE',
                  body: `PR approved by auto_approve action`
                })
              }).then((response) => console.log(response))
            }

